# Ignoring all midleayer latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Ignore template folder
Hello/

# Ignore .idea
.idea/

# Ignore out folder, with output PDFs
out/*
!out/*.pdf
